* {
    color: #0F6A45;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #E9F7E5;
}

p {
    text-align: justify;
}

.cabecera, .dudasTitulo, .index {
    border-radius: 20px;
    width: 90%;
    min-height: auto;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    background-image: url('../img/fondoGenetica.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cabecera::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 17px;
    z-index: 0;
}

.cabecera h2 {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 20px;
    color: #1F3A33;
}

h3, h2, a {
    color: #1F3A33;
    position: relative;
    z-index: 1;
}

.titulo {
    align-content: center;
}

.cuerpo {
    display: grid;
    width: 90%;
    height: auto;
    grid-template-columns: 4fr 380px;
    grid-template-rows: auto auto;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-items: center;
    gap: 2%;
}

.texto {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1%;
}

.adn,
.leyes,
.cromosomas{
    display: grid;
    grid-template-rows: auto auto;
    gap: 5px;
}

.tituloADN,
.tituloLeyes,
.tituloCromosomas,
.tituloResumen {
    border-radius: 20px;
    width: 100%;
    justify-items: center;
    text-align: center;
    background-image: url('../img/fondoGenetica.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.tituloADN:before,
.tituloLeyes:before,
.tituloCromosomas:before,
.tituloResumen:before, .tituloLeyenda:before, .informacionExtraTitulo:before, .dudasTitulo:before, .index:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 17px;
    z-index: 0;
}


.textoADN {
    display: grid;
    grid-template-rows: auto auto auto auto;
    border: 3px solid #CFEFD0;
    border-radius: 20px;
}

.textoADN2 {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.textoADN1,
.textoADN2solotexto,
.textoADN3,
.textoADN4solotexto {
    margin-left: 2%;
    margin-right: 2%;
}

.textoADN2foto img {
    width: 150px;
    height: 200px;
    margin-top: 0%;
}

.textoADN4 {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.textoADN4foto img {
    width: 100px;
    height: auto;
    margin-left: 30%;
}

.textoLeyes {
    display: grid;
    grid-template-rows: auto auto;
    border: 3px solid #CFEFD0;
    border-radius: 20px;
}

.textoLeyes1,
.textoLey1Texto,
.textoLey2Texto,
.textoLey3Texto {
    margin-left: 2%;
    margin-right: 2%;
}

.textoLeyes2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2%;
}

.textoLey1,
.textoLey2,
.textoLey3 {
    display: grid;
    grid-template-rows: auto auto;
    border: 3px solid #CFEFD0;
    border-radius: 20px;
}

.textoLey1Titulo,
.textoLey2Titulo,
.textoLey3Titulo {
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #CCEDD2;
}

.textoLey1,
.textoLey2,
.textoLey3 {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: #CCEDD2;
    
}

.textoLey1Texto img, .textoLey2Texto img, .textoLey3Texto img {
    width: 200px;
    margin-left: 25%;
    margin-bottom: 2%;
}

.textoCromosomas {
    display: grid;
    grid-template-columns: 5fr 2fr;
    border: 3px solid #C2EBBC;
    border-radius: 20px;
}

.fotoCromosomas img {
    width: 200px;
    height: auto;
    margin-left: 25%;
    margin-top: 6%;
}

.soloTextoCromosomas {
    margin-left: 2%;
    margin-right: 2%;
}

.textoResumen, .dudasTexto {
    border: 3px solid #C2EBBC;
    border-radius: 20px;
    width: 100%;
}

.textoResumen ul,
.textoResumen p {
    margin-left: 2%;
    margin-right: 2%;
}

.derecha {
    display: grid;
    grid-template-rows: auto auto;
}

.leyenda, .informacionExtra {
    width: 100%;
    height: 30%;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-rows: auto auto;
    gap: 1%;
}

.tituloLeyenda, .informacionExtraTitulo {
    border-radius: 20px;
    width: 100%;
    justify-items: center;
    text-align: center;
    background-image: url('../img/fondoGenetica.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.enlace1, .enlace2, .enlace3, .enlace4, .enlace5, .informacionExtraEnlace1, .informacionExtraEnlace2 {
    border: 3px solid #CCEDD2;
    border-radius: 20px;
    justify-items: center;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #CCEDD2;
}

.enlace1 p, .enlace2 p, .enlace3 p, .enlace4 p, .enlace5 p {
    text-align: center;
}

.enlaces, .informacionExtraCuerpo {
    display: grid;
    grid-template-rows: 150px 200px 150px 150px 150px;
    gap: 1%;
}

.enlaces a, .informacionExtra a, .index a, .dudas a {
    padding: 8px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.informacionExtraEnlace3 {
    border: 3px solid #CCEDD2;
    border-radius: 20px;
    justify-items: center;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #CCEDD2;
    height: 280px;
}

h5 {
    font-size: 15px;
}

.informacionExtra p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

video {
    width: 400px;
    margin-left: 30%;
}

.resumen {
    display: grid;
    grid-template-rows: auto auto;
    gap: 5px;
    grid-column: 1 / -1;
}

.footer {
    display: grid;
    height: auto;
    grid-template-columns: auto 400px;
    margin-left: 2%;
    margin-right: 5%;
    gap: 2%;
    margin-top: 5%;
    justify-items: center;
    margin-bottom: 4%;
}

.dudas{
    display: grid;
    grid-template-rows: auto auto;
    gap: 3%;
}

.dudasTexto {
    width: 90%;
    height: 120%;
    text-align: center;
    justify-items: center;
    margin-left: 5%;
}

.dudasTexto p {
    margin-left: 2%;
    margin: 2%;
}


a:hover {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 20px;
    justify-items: center;
    background-color: #A8D9B0;
}

.enlace1 img,
.enlace3 img, .enlace4 img, .enlace5 img {
    width: 30px;
}

.enlace2 img {
    width: 20px;
}

.enlaces p {
    font-style: italic;
}

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 12%;
    width: 100%;
}





